<div class="d-flex flex-row ">
<div class="listeJoueur text-center">
    <table class="table">
        <thead>
            <tr>
            <th><span>Nom</span></th>
            <th><span>Classement</span></th>
            <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players" class="joueur">
                <td>{{ player.name }}</td>
                <td>{{ player.classement }}</td>
                <td>
                    <button (click)="modifyPlayer(player)" class="btn">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </button>
                    <button (click)="deletePlayer(player)" class="btn">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="result" >
    <form>
        <label>Nom : </label>
        <input name="nomInput" [(ngModel)]="namePlayer" class="marge texte">
        <label>Classement : </label>
        <input name="rankInput" type="number" [(ngModel)]="rankPlayer"class="marge chiffre">
        <button [disabled]="namePlayer == '' || rankPlayer == 0" (click)="addPlayer()" class="marge btn btn-primary">Ajouter un joueur</button>
    </form>
    <form>
        <div>
            <label>Nombre de poule : </label>
            <input name="nombrePouleInput" [(ngModel)]="numberPoule" class="marge chiffre">
        </div>
        <div>
            <button (click)="generate(false)" class="marge btn btn-primary">Générer</button>
            <button (click)="generate(true)" class="marge btn btn-primary">Trier puis générer</button>
        </div>
    </form>
    <div *ngIf="aGenere">
        <div *ngFor="let poule of result">
            <table class="table">
                <thead>
                    <tr>
                    <th><span>Nom</span></th>
                    <th><span>Classement</span></th>
                    <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of poule">
                        <td>
                            <span>{{ player.name }}</span>
                        </td>
                        <td>{{ player.classement }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>